{% extends 'antares/ui-components::templates.layouts.template' %}
{% block content %}  
    <div class="card-ctrls card-ctrls--nopadding mt16" data-url="{{ url }}">
        <div id="filter-save-url" class="hidden" data-url="{{ handles('antares/foundation::datatables/filters/save') }}"></div>
        <div class="card-ctrls__left">
            <div class="search-box search-box--dark mr24">
                <i class="zmdi zmdi-search"></i>
                <form action="{{ search_url }}" method="POST">
                    <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield is-upgraded" >
                        <input class="mdl-textfield__input search-box__search-field" value="{{ search|raw }}" type="text" id="activity-widget-search">
                        <label class="mdl-textfield__label">{{ trans('antares/logger::messages.widgets.search') }}</label>
                    </div>
                </form>
            </div>              
        </div>
        {% if filters_enabled %}
            {{ filters|raw }}
        {% endif %}
    </div>
    <div class="datarow">

        {% if logs is not empty %} 
            <div class="dataTablesLogs">
                <ul class="timeline" data-scrollable>           
                    {% for log in logs %}
                        <li class="timeline__entry--ok"  >
                            <div class="timeline__indicator" data-color="{{ component_color(log.component.name)|raw }}" data-tooltip-inline="{{ log.component.name|str_humanize }}"></div>
                            <div class="timeline__padding">
                                {{ log.translated()|raw }}
                                <span> {{ format_x_days(log.created_at) }} </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {{ pagination|raw }}
            </div>
        {% else %}
            <div class="zd zd--lg" style="max-width: initial;width: 100%;display: flex;flex-flow: column wrap;align-items: center;">
                <div class="zd__header">
                    <i class="zmdi zmdi-block zmdi-hc-stack-2x mdc-text-red"></i>
                </div>
                <div class="zd__content">
                    <div class="zd__title">{{ trans('antares/logger::messages.no_data_available')|raw }}</div>
                    <div class="zd__description">
                        {{ trans('antares/logger::messages.no_data_available_description')|raw }}                    
                    </div>
                </div>
            </div>  
        {% endif %} 

    </div>
{% endblock %}
