<div data-widget-name="card--info" class="card card--info" data-preload>
    <div class="card__header">
        <div class="card__header-left">
            <span>Users online</span>
        </div>            
    </div>
    <div class="card__content card__content--flex-column" data-scrollable>

        {% if items|length>0 %}
            <div class="col-group">
                {%for subitems in items|batch(4) %}                    
                    <div class="col-24">
                        <div class="{{ (loop.index0==0) ? 'separator-medium':'separator-small' }}"></div>                
                        {%for item in subitems %}
                            <div class="col-6 mb24">                        
                                <div class="col-group" style="{{ item.user.hasRoles('member') ? '' : 'color:#2196f3' }}">
                                    <div class="col-24">
                                        <div class="avatar">

                                            <img style="min-width:auto;" width="60" height="60"  class="gravatar" src="{{ gravatar(item.user.email) }}" alt="{{ item.user.fullname }}" /> 
                                        </div>
                                    </div>
                                    <div class="col-24 text-center">
                                        <strong>{{ item.user.fullname|default('---') }}</strong>
                                    </div>
                                    <div class="col-24 text-center">
                                        <span class="text-small">{{ format_x_days(item.created_at) }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>            
                {% endfor %}
            </div>
        {% else %}
            <div class="zd">
                <div class="zd-container">
                    <div class="zd zd--lg">
                        <div class="zd__header">
                            <i class="zmdi zmdi-block"></i>
                        </div>
                        <div class="zd__content">
                            <div class="zd__title">{{ trans('antares/logger::messages.no_data_available')|raw }}
                            </div>
                            <div class="zd__description">
                                {{ trans('antares/logger::messages.no_data_available_description')|raw }}                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}



    </div>
</div>