<div data-widget-name="card--info" class="card card--info">
    <div class="card__header">
        <div class="card__header-left">
            <span>Users online</span>
        </div>            
    </div>
    <div class="card__content card__content--flex-column" data-scrollable>
        <div class="col-group">
            {%for subitems in items|batch(4) %}                    
                <div class="col-16">

                    <div class="{{ (loop.index0==0) ? 'separator-medium':'separator-small' }}"></div>                
                    {%for item in subitems %}

                        <div class="col-4">                        
                            <div class="col-group" style="{{ item.user.hasRoles('member') ? '' : 'color:#2196f3' }}">
                                <div class="col-16">
                                    <div class="avatar avatar--md" style="opacity: 1; max-width:60px;max-height:60px">
                                        <img  class="gravatar" src="{{ profile_picture( item.user.email) }}" alt="{{ item.user.fullname }}" /> 
                                    </div>
                                </div>
                                <div class="col-16">
                                    <strong>{{ item.user.fullname }}</strong>
                                </div>
                                <div class="col-16">
                                    <span class="text-small">{{ format_x_days(item.created_at) }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>            
            {% endfor %}
        </div>

    </div>
</div>